__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

*.csv
data/
metrics/
final_report.csv
final_data.csv

spark-warehouse/
metastore_db/
derby.log
checkpoint/

logs/
airflow-*.pid
airflow.db
airflow.cfg
webserver_config.py

*.zip
scripts/lambda_function.zip

scripts/pandas/
scripts/numpy/
scripts/pytz/
scripts/dateutil/
scripts/*.dist-info/
scripts/__pycache__/
build/
dist/

.env
.env.local

.idea/
.vscode/
.DS_Store
Thumbs.db

docker-volumes/